@model RowCountViewModel

<h4>Random row count values</h4>
<dl class="dl-horizontal">
    <dt>The <code>DatabaseContext.RowCount</code> is</dt>
    <dd>@Model.DataContextCount.ToString("###,###,###")</dd>
    <dt>The <code>Repository.RowCount</code> is</dt>
    <dd>@Model.RepositoryCount.ToString("###,###,###")</dd>
</dl>