@page
@model IndexModel
@{
    ViewData["Title"] = "All tasks";
}
<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-12">
        <h2>Tasks: </h2>
        <ul>
            @foreach (var item in Model.Items)
            {
            <li>
                <a asp-page="SimpleView" asp-route-id="@item.Id">Simple view</a> /
                <a asp-page="ViewToDo" asp-route-id="@item.Id">@string.Join(", ", item.Tasks)</a>
            </li>
            }
        </ul>
    </div>
</div>
