@page
@model StatusCodePages.MissingModel
@{
    ViewData["Title"] = "Missing";
}

<h1 class="text-danger">404 Error</h1>
<h2 class="text-danger">Oops! We couldn't find the page you requested</h2>

<p>
    Please check the url you entered and try again!
</p>
