@page "{name}"
@model RoutingExample.Pages.ProductDetails.IndexModel
@{
    ViewData["Title"] = "ProductDetails";
}

<h1>@Model.Selected.Name</h1>

<dl>
    <dt>Price</dt>
    <dd>$@Model.Selected.Price</dd>
</dl>

