@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<ul>
    <li><a asp-area="" asp-page="/ProductDetails/Index">Product Details</a></li>
    <li><a asp-area="" asp-page="/ProductDetails/List">Product Details List</a></li>
    <li><a asp-area="" asp-page="/ProductDetails/Search">Product Details Search</a></li>
</ul>
