@model ICollection<RecipeSummaryViewModel>
@{ 
    Layout = "_Layout.cshtml";
}
<div class="card-body">
    <h5 class="card-title">Your Recipes</h5>
    <p class="card-text">Recent recipes you've created</p>
</div>

<div class="list-group list-group-flush">
    @foreach (var recipe in Model)
    {
        <a asp-page="/Recipes/View" asp-route-id="@recipe.Id" class="list-group-item list-group-item-action">@recipe.Name</a>
    }
</div>