@{
    Layout = "_Layout.cshtml";
}
<div class="card-body">
    <h5 class="card-title">Your Recipes</h5>
    <p class="card-text">Login to view recent recipes you've created</p>

    <a asp-area="Identity" asp-page="/Account/Register" class="card-link">Register</a>
    <a asp-area="Identity" asp-page="/Account/Login" class="card-link">Login</a>
</div>
