@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<ul>
    <li><a asp-area="" asp-page="/Products" asp-route-name="big-widget">Big widget</a></li>
    <li><a asp-area="" asp-page="/Products" asp-route-name="super-fancy-widget">Super facncy widget</a></li>
    <li><a asp-area="" asp-page="/Search">Search</a></li>
</ul>