@model EditRecipeBase

<div class="form-group">
    <label asp-for="Name" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="Method" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <textarea asp-for="Method" class="form-control"></textarea>
        <span asp-validation-for="Method" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="TimeToCookHrs" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="TimeToCookHrs" class="form-control" />
        <span asp-validation-for="TimeToCookHrs" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="TimeToCookMins" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="TimeToCookMins" class="form-control" />
        <span asp-validation-for="TimeToCookMins" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
            <label class="control-label">
                <input asp-for="IsVegetarian" /> Vegetarian?
                <span asp-validation-for="IsVegetarian" class="text-danger"></span>
            </label>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
            <label class="control-label">
                <input asp-for="IsVegan" /> Vegan?
                <span asp-validation-for="IsVegan" class="text-danger"></span>
            </label>
        </div>
    </div>
</div>