@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<h2>This application demonstrates a cross-site request forgery (CSRF) attack</h2>
<p>First, create a new account and sign in to this application.</p>
<p>You can view your balance and withdraw funds by clicking below</p>

<a asp-page="Balance" class="btn btn-primary">View Balance</a>