@page
@model FilterPipelineExample.Pages.IndexModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Filters</title>
</head>
<body>
    <p>View console log to see which filters were applied</p>
    <p><a asp-page-handler="Exception">Click here</a> to generate an exception in the page handler.</p>
</body>
</html>
