@page "{number}"
@model ExampleCalculatorBinding.Pages.CalculateSquareModel
@{
    ViewData["Title"] = "CalculateSquare";
}

<h1>Calculating squares</h1>

<p>The square of @Model.Input is @Model.Square</p>

