@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <ul>
        @foreach (var value in new int[] { 1, 2, 3, 4, 5, 6, 7, 8, 9 })
        {
        <li>
            <a asp-page="CalculateSquare" asp-route-number="@value">Calculate the square of @value</a>
        </li>
        }
    </ul>
